<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <br>

    <nav class="nav nav-pills justify-content-center">
        <a class="nav-link active" href="/events">Back to events</a>
        <a class="nav-link disabled" href="#">Close</a>
    </nav>

    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 "></div>
            <div class="col-sm-8 bg-success">
                <form action="#" th:object="${tithe}" th:action="@{/members/member/save_tithe(memberId=${member.id})}" method="post">

                    <div class="input-group mb-2 mt-3 ">
                        <div class="input-group-prepend"><span class="input-group-text" id="">Date</span></div>
                        <input type="date" th:field="*{date}" th:value="${date}" th:text="${date}" class="form-control" required>
                    </div>

                    <div class="input-group mb-2 mt-3 ">
                        <div class="input-group-prepend"><span class="input-group-text" id="">Amount</span></div>
                        <input type="text" th:field="*{amount}" th:value="${amount}" th:text="${amount}" class="form-control" required>
                    </div>

                    <div class="input-group mb-2 mt-3 ">
                        <input type="hidden" th:field="*{id}" th:value="${id}" th:text="${id}" class="form-control">
                    </div>

<!--                    <div class="input-group mb-2 mt-3 " >-->
<!--                        <input type="hidden" th:field="*{member.firstName}" th:value="${member.firstName}" th:text="${member.firstName}" class="form-control">-->
<!--                    </div>-->

<!--                    <div class="input-group mb-2 mt-3 " >-->
<!--                        <input type="hidden" th:field="*{member.lastName}" th:value="${member.lastName}" th:text="${member.lastName}" class="form-control">-->
<!--                    </div>-->

<!--                    <div class="input-group mb-2 mt-3 " >-->
<!--                        <input type="hidden" th:field="*{member.email}" th:value="${member.email}" th:text="${member.email}" class="form-control">-->
<!--                    </div>-->

                    <button type="submit" class="btn btn-primary mb-2 offset-10" >Save</button>

                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>